<!DOCTYPE html>
<html>

<head>
  <!--dependencies start -->
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.css" rel="stylesheet">

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.1/ui-bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.1/ui-bootstrap-tpls.min.js"></script>
  <!--dependencies end -->

  <link href="dist/ez-paginator.min.css" rel="stylesheet"/>
  <script src="dist/ez-paginator.js"></script>
  <script src="dist/ez-paginator-tpl.js"></script>

  <script>
    angular.module('myApp', ['ui.bootstrap', 'ez.paginator', 'ngRoute'])

    .controller('AppCtrl', ['$scope', '$interval', '$q', 'pagerConfig', function AppCtrl($scope, $interval, $q, pagerConfig) {

      pagerConfig.previousText = '<- Prev';
      pagerConfig.nextText = 'Next ->';

      var names = [
        {name: 'Hi'},
        {name: 'there'},
        {name: 'this'},
        {name: 'is'},
        {name: 'an'},
        {name: 'opinionated'},
        {name: 'paginator'},
        {name: 'directive.'},
        {name: 'It'},
        {name: 'just'},
        {name: 'adds'},
        {name: 'some'},
        {name: 'bells'},
        {name: 'and'},
        {name: 'whistles'},
        {name: 'to'},
        {name: 'angular-bootsraps'},
        {name: 'paginator'}
      ];

      var items = [];
      var deletedItems = [];
      var pages = [];
      var pageItems = [];
      var index;

      for (var i = 0; i <= 200; i++) {
        index = Math.floor(Math.random() * (17 + 1));

        items.push(names[index]);
      }

      for (var j = 0; j <= 50; j++) {
        index = Math.floor(Math.random() * (17 + 1));

        deletedItems.push({name: names[index].name + ' - (deleted)'});
      }

      $scope.data = {
        pagination: {
          limit: 5,
          page: 1,
          items: items
        },
        pagination2: {
          limit: 5,
          page: 1,
          items: items
        },
        pagination3: {
          limit: 15,
          page: 1,
          pages: Math.ceil(items / 15),
          items: items.splice(0, 15)
        },
        pager: {
          limit: 5,
          page: 1,
          items: items
        }
      };

      $scope.pagination2Changed = function(pagination) {
        angular.extend($scope.data.pagination2, {
          limit: pagination.limit,
          page: pagination.page,
          items:(pagination.state == 'active' ? items : deletedItems),
          pages: Math.ceil((pagination.state == 'active' ? items : deletedItems) / pagination.limit)
        });
      };

      $scope.pagination3Changed = function(pagination) {
        $scope.data.pagination3 = {
          limit: pagination.limit,
          page: pagination.page,
          items: (pagination.state == 'active' ? items : deletedItems).splice(pagination.page * pagination.limit, (pagination.page * pagination.limit + pagination.limit))
        };

        $scope.data.pagination3.pages = Math.ceil($scope.data.pagination3.items / pagination.limit);
      };

    }])
;

  </script>
</head>
<body ng-app="myApp">
  <div ng-controller="AppCtrl" class="container">
    <div class="page-header">
      <h1>ez-paginator</h1>
    </div>
    <div class="page-body">

      <h3>Client side pagination with route param updates</h3>
      <ul>
        <li ng-repeat="item in data.pagination.items.slice(((data.pagination.page -1) * data.pagination.limit), ((data.pagination.page) * data.pagination.limit)) track by $index">{{ item.name }}</li>
      </ul>
      <div ez-paginator="data.pagination"></div>

      <h3>Client side pagination bar with using calllback</h3>
      <ul>
        <li ng-repeat="item in data.pagination2.items.slice(((data.pagination2.page -1) * data.pagination2.limit), ((data.pagination2.page) * data.pagination2.limit)) track by $index">{{ item.name }}</li>
      </ul>
      <div ez-paginator-bar="data.pagination2" on-change="pagination2Changed" state-container-class="dropdown"></div>

      <h3>Server side pagination bar using callback</h3>
      <ul>
        <li ng-repeat="item in data.pagination3.items track by $index">{{ item.name }}</li>
      </ul>
      <div ez-paginator-bar="data.pagination3" on-change="pagination3Changed"></div>

      <h3>Client side pager with route param updates</h3>
      <ul>
        <li ng-repeat="item in data.pager.items.slice(((data.pager.page -1) * data.pager.limit), ((data.pager.page) * data.pager.limit)) track by $index">{{ item.name }}</li>
      </ul>
      <div ez-pager="data.pager" style="width: 200px;"></div>

    </div>
  </div>
</body>

</html>

