.ez-paginator-bar {
  margin: 20px 0;
  text-align: center;

  .pagination {
      margin: 0;
  }

  .ez-paginator-state {
    float: right;
    margin-right: 10px;

    .dropdown-menu {
      min-width: inherit;
    }
  }

  .ez-paginator-limit {
    float: right;

    .dropdown-menu {
      min-width: inherit;
    }
  }

  .dropdown-menu a {
    cursor: pointer;
  }

}
